img {
  width: 400px;
  border-radius: 10px;
}

section {
  text-align: center;

}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.main-header {
  color:#eff6e0;
  text-align: center;
}

.detail-list, #none-left {
  color:#eff6e0;

}